// COLORS
$primary-color:#ffffff;
$secondary-color: #80c4f9;
$font-family: "Montserrat", sans-serif;

$white-color: #1a1a1a;
$light-white: #000000;
$dark-grey: #80c4f9;

$dark-blue-text: #fff; // For headings

// FONT SIZE
$default-font-size: 1.65rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
